/*Here goes the CSS stylesheet*/

/*Basic reset of browsers configs*/
*{
    margin: 0px;
    padding: 0px;
}

div.container {
    width: 900px;
    min-height: 900px;
    margin: 10px;
}

div.header {
    width: 900px;
    height: 60px;
    background-color: lightgray;
}

    div.header h1 {
        display: inline-block;
        color: black;
        padding: 5px;
        padding-left: 25px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: x-large;
    }

    div.header h3 {
        display: inline-block;
        color: black;
        padding-left: 345px;
        font-family: Impact, fantasy;
    }

div.main_content {
    width: 900px;
    height: 780px;
    background: radial-gradient(#6F5964, #48353D);
}

    div.first_row img {
        width: 400px;
        margin: 20px;
        border: 5px solid #C0C0C0;
        display: inline-block;
    }

    div.first_row div.horizontal_pink_box {
        background-color: #E3D8E3;
        width: 420px;
        min-height: 273px;
        margin-top: 20px;
        display: inline-block;
        vertical-align: top;
    }

    .horizontal_main_title {
        width: 420px;
        background: linear-gradient(rgb(104, 102, 102), lightgray);
        height: 50px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: large;
    }

    div.second_row div.vertical_pink_box {
        background-color: #E3D8E3;
        width: 255px;
        height: 400px;
        display: inline-block;
        margin: 20px;
    }

    .vertial_main_title {
        width: 255px;
        background: linear-gradient(rgb(104, 102, 102), lightgray);
        height: 50px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: large;
    }

    h2 {
        color: white;
        font-size: medium;
        padding: 10px;
    }

    h3 {
        color: white;
        font-size: small;
        padding: 15px 15px 15px 10px;
    }

    p {
        font-size: x-small;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }

    .horizontal_pink_box a {
        color: black;
        font-size: x-small;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }

    .technologies ul li {
        display: inline-block;
    }

    .technologies ul li img {
        margin: 5px 0px 0px 10px;
        width: 35px;
        display: inline-block;
    }

    .vertical_pink_box div.bottom_button {
        text-align: center;
        margin-top: 10px;
    }

    .vertical_pink_box div.bottom_button a {
        color: white;
        text-decoration: none;
        font-size: x-small;
        font-family: Arial, Helvetica, sans-serif;
        background-color: green;
        padding: 8px;
        border-radius: 10px;
        box-shadow: 4px 4px 1px grey;
    }

div.footer {
    width: 900px;
    height: 60px;
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

    div.footer p {
        text-align: center;
        padding: 5px;
        font-size: x-small;
    }

    div.footer ul {
        text-align: center;
    }

    div.footer ul li {
        display: inline-block;
        padding: 5px;
        font-size: x-small;
    }

    div.footer ul li a{
        color: black;
    }

    div.footer ul li img {
        width: 15px;
        vertical-align: middle;
    }

